@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-image: linear-gradient(to right,  #FE6986 , #9225F0);
  margin: 0 auto;
  height: 300px;
  left: 0;
  right: 0;
  text-align: center;
}

.navbar__list {
  padding: 0;
  margin: 0 auto;
}

.navbar__list__link {
  padding: 30px 20px;
  display: inline-block;
  font-size: 19px;
  color: #701CA3;
}

.navbar__list__link__element {
  text-decoration: none;
}

.navbar__text__short {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar__text__long {
  font-size: 16px;
}

.navbar__text {
  color: #FFFFFF;
  text-align: center;
}

.projects {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: row wrap;
  color: #3C1176;
  padding-top: 30px;
  padding-bottom: 30px;
}

.projects__desc {
  width: 70%;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
}

.projects__img {
  width: 70%;
  height: 309px;
  padding: 10px;
  margin: 10px;
}

.projects__img--graffiti {
  background: url("img/img1.jpg") center center;
  background-size: cover;
}

.projects__img--waffles {
  background: url("img/img2.jpg") center center;
  background-size: cover;
}

.projects__desc__btn {
  border: 1px solid #C785C9;
  background-color: #FFFFFF;
  color: #3C1176;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  margin: 10px;
}

.breaker {
  background: url("img/fullbg.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 24px;
}

.projects__img--foggy {
  background: url("img/img3.jpg") center center;
  background-size: cover;
}

.contact {
  color: #3C1176;
  font-size: 12px;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  background-image: linear-gradient(to right,  #FE6986 , #9225F0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact__desc {
  font-size: 24px;
}

.contact__copy {
  font-size: 19px;
  padding: 5px;
}

.contact__form {
  outline: none;
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 10px;
}

.contact__form__message {
  display: flex;
  flex-flow: column wrap;
}

.contact__form__message__textarea {
  background-color: transparent;
  border: 1px solid  #3C1176;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact__form__input {
  background-color: transparent;
  border-bottom: 1px solid  #3C1176;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.contact__form__btn {
  background-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  border: 1px solid #FFFFFF;
  padding: 10px 15px;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 445px;
    position: relative;
  }

  .navbar__list__link {
    font-size: 24px;
  }

  .navbar__text__short {
    font-size: 116px;
  }

  .navbar__text__long {
    font-size: 21px;
  }

  .navbar__text {
    height: 200px;
  }

  .navbar::after {
    content: "";
    background: url("img/wave-top.svg") center center;
    background-size: cover;
    height: 48px;
    width: 400px;
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 0;
  }

  .navbar::before {
    content: "";
    background: url("img/wave-top2.svg") center center;
    background-size: cover;
    height: 48px;
    width: 200px;
    position: absolute;
    bottom: 60px;
    right: 0;
  }

  .projects__img {
  width: 40%;
  }

  .projects__desc {
    width: 40%;
    margin-left: 60px;
  }

  .projects__desc--two {
    order: 2;
  }

  .projects__desc--one {
    position: relative;
  }

  .projects__desc::after {
    font-family: "Montserrat", sans-serif;
    color: #E479D8;
    font-size: 175px;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: 230px;
    opacity: 0.5;
    z-index: 3;
  }

  .projects__desc--one::after {
    content: "1.";
  }

  .projects__desc--two {
    position: relative;
  }

  .projects__desc--two::after {
    content: "2.";
  }

  .breaker {
    font-size: 72px;
    position: relative;
  }

  .breaker::after {
    content: "";
    background: url("img/wave-bottom.svg") center center;
    background-size: cover;
    height: 48px;
    width: 400px;
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 0;
  }

  .projects__desc--three {
    position: relative;
  }

  .projects__desc--three::after {
    content: "3.";
  }

  .contact__desc {
    width: 40%;
  }

  .contact__form {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .projects {
    width: 1000px;
    margin: 0 auto;
  }

  .projects__desc {
    width: 45%;
  }

  .projects__desc::after {
    top: -30px;
    left: -65px;
  }

  .contact__desc {
    font-size: 45px;
  }

  .contact__form__message__textarea {
    width: 60%;
  }

  .contact__form__btn {
    width: 40%;
  }
}

@media only screen and (min-width: 1400px) {
  .projects {
    width: 1200px;
    margin: 0 auto;
  }

  .contact__desc {
    font-size: 55px;
  }
}

@media only screen and (min-width: 2500px) {
  .navbar__list__link {
    font-size: 44px;
  }

  .navbar__text__long {
    font-size: 44px;
  }

  .projects {
    width: 2000px;
    margin: 0 auto;
  }

  .projects__desc {
    width: 50%;
    height: 400px;
  }

  .projects__img {
    height: 400px;
  }

  .contact__form__btn {
    width: 30%;
  }
}
